
*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
/build
/code
MANIFEST.MF
_site/
activemq-data
bin
build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
overridedb.*
settings.xml
target
transaction-logs
.flattened-pom.xml
secrets.yml
.gradletasknamecache
.sts4-cache
src/main/resources/static/prod/
src/main/resources/static/dev/node_modules/

# compiled output
src/main/resources/static/dev/tmp
src/main/resources/static/dev/out-tsc

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
src/main/resources/dev/.sass-cache
src/main/resources/dev/connect.lock
src/main/resources/dev/coverage
src/main/resources/dev/libpeerconnection.log
src/main/resources/devnpm-debug.log
src/main/resources/dev/yarn-error.log
src/main/resources/dev/testem.log
src/main/resources/dev/typings

# System Files
.DS_Store
Thumbs.db