<footer>
  <nav class="navbar fixed-bottom navbar-light bg-dark d-flex flex-column">
    <div style="font-size:2rem;">
      <a href="https://www.youtube.com/user/nodqcaw" target="_blank">
        <i class="footer-icon fab fa-youtube mr-1 text-white social-media-icon"></i>
      </a>
      <a href="https://twitter.com/nodqdotcom" target="_blank">
        <i class="footer-icon fab fa-twitter mr-1 text-white social-media-icon"></i>
      </a>
      <a href="https://www.facebook.com/nodqdotcom" target="_blank">
        <i class="footer-icon fab fa-facebook-square text-white social-media-icon"></i>
      </a>
    </div>
  </nav>
</footer>