<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>NoDQ Awards</h1>
      <p class="lead">2017 NoDQ.com Year End Award results</p>
    </div>
  </div>
</div>

<div class="text-center">
  <img src="http://nodq.com/nodqimages/nodq-awards.png">
</div>

<div class="h-100">

  <div class="card text-white bg-secondary" style="max-height:800px; overflow: auto;">
    <div class="card-body">
      The results are in for the 2017 NoDQ.com Year End Awards!
      <br>
      <br>I would like to thank everyone that participated in the voting process. AJ Styles won Superstar of the Year for the
      second straight year! With that being said, here are the final results of the 18th annual NoDQ.com Year End Awards:
      <br>
      <br>
      <b>Male Superstar Of The Year</b>
      <br>
      <br>
      <u>AJ Styles 1409 40%</u>
      <br>Brock Lesnar 730 21%
      <br>Braun Strowman 613 18%
      <br>Kenny Omega 355 10%
      <br>Kazuchika Okada 204 6%
      <br>Roman Reigns 172 5%
      <br>
      <br>3483 votes
      <br>
      <br>2016 winner: AJ Styles
      <br>2015 winner: Seth Rollins
      <br>2014 winner: Seth Rollins
      <br>2013 winner: Daniel Bryan
      <br>2012 winner: CM Punk
      <br>2011 winner: CM Punk
      <br>2010 winner: The Miz
      <br>2009 winner: Chris Jericho
      <br>2008 winner: Chris Jericho
      <br>2007 winner: The Undertaker
      <br>2006 winner: Edge
      <br>2005 winner: Eddie Guerrero
      <br>2004 winner: Randy Orton
      <br>2003 winner: Kurt Angle
      <br>2002 winner: Brock Lesnar
      <br>2001 winner: Steve Austin
      <br>2000 winner: Triple H
      <br>
      <br>
      <b>Female Superstar Of The Year</b>
      <br>
      <br>
      <u>Asuka 1915 47%</u>
      <br>Alexa Bliss 1631 40%
      <br>Charlotte 253 6%
      <br>Sasha Banks 159 4%
      <br>Naomi 105 3%
      <br>Natalya 42 1%
      <br>
      <br>4105 votes
      <br>
      <br>2016 winner: Charlotte Flair
      <br>2015 winner: Nikki Bella
      <br>2014 winner: Paige
      <br>2013 winner: AJ Lee
      <br>2012 winner: AJ Lee
      <br>2011 winner: Beth Phoenix
      <br>2010 winner: Natalyta
      <br>2009 winner: Mickie James
      <br>2008 winner: Beth Phoenix
      <br>2007 winner: Mickie James
      <br>2006 winner: Trish Stratus
      <br>2005 winner: Melina
      <br>2004 winner: Trish Stratus
      <br>2003 winner: Trish Stratus
      <br>2002 winner: Trish Stratus
      <br>2001 winner: Trish Stratus
      <br>2000 winner: Trish Stratus
      <br>
      <br>
      <b>Tag-Team Of The Year</b>
      <br>
      <br>
      <u>The Usos 854 54%</u>
      <br>The Bar 251 16%
      <br>The Young Bucks 241 15%
      <br>Hardy Boyz 103 6%
      <br>The New Day 87 5%
      <br>Authors of Pain 59 4%
      <br>
      <br>1595 votes
      <br>
      <br>2016 winners: The Revival
      <br>2015 winners: The New Day
      <br>2014 winners: The Usos
      <br>2013 winners: Roman Reigns and Seth Rollins
      <br>2012 winners: Team Hell No
      <br>2011 winners: Beer Money
      <br>2010 winners: Motor City Machine Guns
      <br>2009 winners: Jerishow
      <br>2008 winners: The Miz and John Morrison
      <br>2007 winners: The Motor City Machine Guns
      <br>2006 winners: Triple H and Shawn Michaels (DX)
      <br>2005 winners: The Big Show and Kane
      <br>2004 winners: America's Most Wanted
      <br>2003 winners: Los Guerreros
      <br>2002 winners: Kurt Angle and Chris Benoit
      <br>2001 winners: The Dudley Boyz
      <br>2000 winners: The Hardy Boyz
      <br>
      <br>
      <b>Finisher Of The Year</b>
      <br>
      <br>
      <u>Aleister Black's Black Mass 401 27%</u>
      <br>AJ Styles' Styles Clash 296 20%
      <br>Kenny Omega's One Winged Angel 230 16%
      <br>Baron Corbin's End of Days 196 13%
      <br>Braun Strowman's Running Powerslam 188 13%
      <br>Brock Lesnar's F5 152 10%
      <br>
      <br>1463 votes
      <br>
      <br>2016 winner: AJ Styles' Styles Clash
      <br>2015 winner: Kevin Owens' Popup Powerbomb
      <br>2014 winner: Seth Rollins' Curb Stomp
      <br>2013 winner: Roman Reigns' Spear
      <br>2012 winner: Brock Lesnar's Kimura Lock
      <br>2011 winner: CM Punk's Go To Sleep
      <br>2010 winner: Daniel Bryan's LeBell Lock
      <br>2009 winner: John Morrison's Starship Pain
      <br>2008 winner: Evan Bourne's Airbourne
      <br>2007 winner: Petey Williams' Canadian Destroyer
      <br>2006 winner: Petey Williams' Canadian Destroyer
      <br>2005 winner: Petey Williams' Canadian Destroyer
      <br>2004 winner: Petey Williams' Canadian Destroyer
      <br>2003 winner: John Cena's FU
      <br>2002 winner: Brock Lesnar's F-5
      <br>2001 winner: Rob Van Dam's Five Star Frog Splash
      <br>2000 winner: Dudley Death Drop
      <br>
      <br>
      <b>Announcer Of The Year</b>
      <br>
      <br>
      <u>Corey Graves 592 40%</u>
      <br>Renee Young 385 26%
      <br>Mauro Ranallo 368 25%
      <br>Nigel McGuinness 76 5%
      <br>Tom Phillips 27 2%
      <br>Greg Hamilton 18 1%
      <br>
      <br>1466 votes
      <br>
      <br>2016 winner: Mauro Ranallo
      <br>2015 winner: Renne Young
      <br>2014 winner: Renee Young
      <br>2013 winner: JBL
      <br>2012 winner: JBL
      <br>2011 winner: Jim Ross
      <br>2010 winner: Michael Cole
      <br>2009 winner: Matt Striker
      <br>2008 winner: Jim Ross
      <br>2007 winner: Jim Ross
      <br>2006 winner: JBL
      <br>2005 winner: Joey Styles
      <br>2004 winner: Jim Ross
      <br>2003 winner: Jim Ross
      <br>2002 winner: Jerry Lawler
      <br>2001 winner: Jerry Lawler
      <br>2000 winner: Jerry Lawler
      <br>
      <br>
      <b>Match Of The Year</b>
      <br>
      <br>
      <u>Pete Dunne vs. Tyler Bate (NXT Takeover: Chicago) 512 28%</u>
      <br>Kazuchika Okada vs. Kenny Omega (NJPW Dominion) 431 24%
      <br>AJ Styles vs. John Cena (Royal Rumble) 405 22%
      <br>AJ Styles vs. Brock Lesnar (Survivor Series) 171 9%
      <br>The Usos vs. The New Day (Hell in a Cell) 171 9%
      <br>WarGames (NXT Takeover: WarGames) 132 7%
      <br>
      <br>1822 votes
      <br>
      <br>2016 winner: Shinsuke Nakamura vs. Sami Zayn (NXT Takeover: Dallas)
      <br>2015 winner: Sasha Banks vs. Bayley (NXT Takeover: Brooklyn)
      <br>2014 winner: The Shield vs. The Wyatt Family (Elimination Chamber)
      <br>2013 winner: Brock Lesnar vs. CM Punk (Summerslam)
      <br>2012 winner: Undertaker vs. HHH (Wrestlemania 28)
      <br>2011 winner: CM Punk vs. John Cena (Money in the Bank)
      <br>2010 winner: The Undertaker vs. Shawn Michaels (Wrestlemania 26)
      <br>2009 winner: The Undertaker vs. Shawn Michaels (Wrestlemania 25)
      <br>2008 winner: Shawn Michaels vs. Ric Flair (Wrestlemania 24)
      <br>2007 winner: John Cena vs. Shawn Michaels (April 23rd RAW)
      <br>2006 winner: Edge vs. Mick Foley (Wrestlemania 22)
      <br>2005 winner: Shawn Michaels vs. Kurt Angle (Wrestlemania 21)
      <br>2004 winner: Triple H vs. Shawn Michaels vs. Chris Benoit (Wrestlemania XX)
      <br>2003 winner: Shawn Michaels vs. Chris Jericho (Wrestlemania XIX)
      <br>2002 winner: Hollywood Hogan vs. The Rock (Wrestlemania X-8)
      <br>2001 winner: Steve Austin vs. The Rock (Wrestlemania X7)
      <br>2000 winner: Hardyz vs Dudleyz vs Edge/Christan TLC (Summerslam)
      <br>
      <br>
      <b>PPV Of The Year</b>
      <br>
      <br>
      <u>NXT Takeover: WarGames 374 33%</u>
      <br>Wrestle Kingdom 11 227 20%
      <br>Great Balls of Fire 169 15%
      <br>WrestleMania 33 162 14%
      <br>Survivor Series 104 9%
      <br>Summerslam 102 9%
      <br>
      <br>1138 votes
      <br>
      <br>2016 winner: NXT Takeover: Dallas
      <br>2015 winner: Wrestlemania 31
      <br>2014 winner: Wrestlemania 30
      <br>2013 winner: Summerslam
      <br>2012 winner: Wrestlemania 28
      <br>2011 winner: Money in the Bank
      <br>2010 winner: Wrestlemania 26
      <br>2009 winner: Wrestlemania 25
      <br>2008 winner: Wrestlemania 24
      <br>2007 winner: Wrestlemania 23
      <br>2006 winner: Wrestlemania 22
      <br>2005 winner: ECW One Night Stand
      <br>2004 winner: Wrestlemania 20
      <br>2003 winner: Wrestlemania XIX
      <br>2002 winner: Wrestlemania X-8
      <br>2001 winner: Wrestlemania X-7
      <br>2000 winner: Wrestlemania XVI
      <br>
      <br>
      <b>Breakout Star Of The Year</b>
      <br>
      <br>
      <u>Braun Strowman 734 59%</u>
      <br>Alexa Bliss 143 12%
      <br>Aleister Black 120 10%
      <br>Pete Dunne 85 7%
      <br>Jinder Mahal 78 6%
      <br>Velveteen Dream 75 6%
      <br>
      <br>1235 votes
      <br>
      <br>2016 winner: AJ Styles
      <br>2015 winner: Kevin Owens
      <br>2014 winner: Seth Rollins
      <br>2013 winner: Roman Reigns
      <br>2012 winner: Ryback
      <br>2011 winner: Zack Ryder
      <br>2010 winner: The Miz
      <br>2009 winner: Kofi Kingston
      <br>2008 winner: Evan Bourne
      <br>2007 winner: MVP
      <br>2006 winner: CM Punk
      <br>2005 winner: Samoa Joe
      <br>2004 winner: Shelton Benjamin
      <br>2003 winner: John Cena
      <br>2002 winner: Brock Lesnar
      <br>2001 winner: Rob Van Dam
      <br>2000 winner: Kurt Angle
      <br>
      <br>
      <b>Catchphrase Of The Year</b>
      <br>
      <br>
      <u>"You've just made the list!" - Chris Jericho 653 51%</u>
      <br>"I'm not finished with you!" - Braun Strowman 328 26%
      <br>"This is the house that AJ Styles built!" - AJ Styles 87 7%
      <br>"Adam Cole baybay!" - Adam Cole 84 7%
      <br>"Too sweet!" - The Bullet Club 67 5%
      <br>"Welcome to the Uso Penitentiary!" - The Usos 67 5%
      <br>
      <br>1286 votes
      <br>
      <br>2016 winner: "You've just made the list!" - Chris Jericho
      <br>2015 winner: "Suplex City, Bitch!" (Brock Lesnar)
      <br>2014 winner: "I'm afraid I've got some BAD NEWS!" (Wade Barrett)
      <br>2013 winner: "YES!!!"/"NO!!!" (Daniel Bryan)
      <br>2012 winner: "YES!!!"/"NO!!!" (Daniel Bryan)
      <br>2011 winner: "Woo Woo Woo, you know it!" (Zack Ryder)
      <br>2010 winner: "I'm The Miz and I'm AWESOME!" (The Miz)
      <br>2009 winner: "I'm The Miz and I'm AWESOME!" (The Miz)
      <br>2008 winner: "Put up the honk-a-meter!" (Santino Marella)
      <br>2007 winner: ".....DAMN!" (Ron Simmons)
      <br>2006 winner: ".....DAMN!" (Ron Simmons)
      <br>2005 winner: "Mistaaaaa Kennedy... Kennedy!" (Ken Kennedy)
      <br>2004 winner: "I spit in the face of people that don't want to be cool!" (Carlito)
      <br>2003 winner: "Word life" (John Cena)
      <br>2002 winner: "Can you dig that SUCKA?" (Booker T)
      <br>2001 winner: "WHAT?" (Steve Austin)
      <br>2000 winner: "Reek of awesomeness" (E&C)
      <br>
      <br>
      <b>Faction Of The Year</b>
      <br>
      <br>
      <u>The Bullet Club 482 41%</u>
      <br>The New Day 187 16%
      <br>Sanity 168 14%
      <br>The Shield 156 13%
      <br>The Undisputed Era 10 69%
      <br>Miztourage 72 6%
      <br>
      <br>1171 votes
      <br>
      <br>2016 winner: The Hardy Family
      <br>2015 winner: The New Day
      <br>2014 winner: The Shield
      <br>2013 winner: The Shield
      <br>2012 winner: The Shield
      <br>2011 winner: Nexus
      <br>2010 winner: Nexus
      <br>2009 winner: Legacy
      <br>2008 winner: Main Event Mafia
      <br>2007 winner: D-Generation X
      <br>2006 winner: D-Generation X
      <br>2005 winner: MNM (Mercury, Nitro, and Melina)
      <br>2004 winner: Evolution
      <br>2003 winner: Evolution
      <br>2002 winner: New World Order
      <br>2001 winner: Team WWF
      <br>2000 winner: McMahon-Helmsley Faction
      <br>
      <br>
      <b>Comeback Of The Year</b>
      <br>
      <br>
      <u>The Hardys 521 40%</u>
      <br>Kurt Angle 393 31%
      <br>Jinder Mahal 165 13%
      <br>Drew McIntyre 109 8%
      <br>Paige 78 6%
      <br>Finn Balor 22 2%
      <br>
      <br>1288 votes
      <br>
      <br>2016 winner: Goldberg
      <br>2015 winner: The Undertaker
      <br>2014 winner: Sting
      <br>2013 winner: Goldust
      <br>2012 winner: Brock Lesnar
      <br>2011 winner: The Rock
      <br>2010 winner: Kane
      <br>2009 winner: Christian
      <br>2008 winner: Randy Orton
      <br>2007 winner: Chris Jericho
      <br>2006 winner: Jeff Hardy
      <br>2005 winner: Matt Hardy
      <br>2004 winner: Edge
      <br>2003 winner: Steve Austin
      <br>2002 winner: Shawn Michaels
      <br>2001 winner: Ric Flair
      <br>2000 winner: Steve Austin
      <br>
      <br>
      <b>Headline Of The Year</b>
      <br>
      <br>
      <u>Chris Jericho announced for NJPW match against Kenny Omega 411 31%</u>
      <br>The Hardy Boyz return to WWE 300 23%
      <br>Kurt Angle returns to WWE 262 20%
      <br>Jinder Mahal wins the WWE Title 161 12%
      <br>Roman Reigns possibly ends The Undertaker's career 138 10%
      <br>The Shield reunites 58 4%
      <br>
      <br>1330 votes
      <br>
      <br>2016 winner: AJ Styles debuts at the Royal Rumble
      <br>2015 winner: Seth Rollins cashes in MITB at Wrestlemania 31
      <br>2014 winner: The end of Undertaker's Wrestlemania streak
      <br>2013 winner: Bruno Sammartino goes into the WWE Hall of Fame
      <br>2012 winner: Jerry Lawler has heart attack during RAW
      <br>2011 winner: CM Punk cuts worked shoot promo on RAW
      <br>2010 winner: Bret Hart returns to WWE
      <br>2009 winner: Hulk Hogan signs with TNA
      <br>2008 winner: Ric Flair retires from wrestling
      <br>2007 winner: The Benoit family murder and suicide
      <br>2006 winner: Kurt Angle signs with TNA
      <br>2005 winner: The death of Eddie Guerrero
      <br>2004 winner: Eddie and Benoit celebrate as World Champions
      <br>2003 winner: Kane loses his mask
      <br>2002 winner: Shawn Michaels makes his return to wrestling
      <br>2001 winner: WWF purchases WCW
      <br>2000 winner: Steve Austin returns to the WWF
      <br>
      <br>
      <b>Theme Song Of The Year</b>
      <br>
      <br>
      <u>Glorious Domination (Bobby Roode) 482 41%</u>
      <br>Root of all Evil (Aleister Black) 267 23%
      <br>The Rising Sun (Shinsuke Nakamura) 226 19%
      <br>Phenomenal (AJ Styles) 121 10%
      <br>I am Stronger (Braun Strowman) 49 4%
      <br>Sky's The Limit (Sasha Banks) 36 3%
      <br>
      <br>1181 votes
      <br>
      <br>2016 winner: Glorious Domination (Bobby Roode)
      <br>2015 winner: Catch Your Breath (Finn Balor)
      <br>2014 winner: Live In Fear (Wyatt Family)
      <br>2013 winner: Live In Fear (Wyatt Family)
      <br>2012 winner: Cult of Personality (CM Punk)
      <br>2011 winner: Cult of Personality (CM Punk)
      <br>2010 winner: We Are One (Nexus)
      <br>2009 winner: Voices (Randy Orton)
      <br>2008 winner: Voices (Randy Orton)
      <br>2007 winner: This Fire Burns (CM Punk)
      <br>2006 winner: The King of Kings (Triple H)
      <br>2005 winner: Just Close Your Eyes (Christian)
      <br>2004 winner: Burn in my Light (Randy Orton)
      <br>2003 winner: Basic Thuganomics (John Cena)
      <br>2002 winner: One Of A Kind (Rob Vam Dam)
      <br>2001 winner: Break The Walls Down (Chris Jericho)
      <br>2000 winner: The Game (Triple H)
      <br>
      <br>
      <b>Babyface Of The Year</b>
      <br>
      <br>
      <u>AJ Styles 689 57%</u>
      <br>Johnny Gargano 190 16%
      <br>Braun Strowman 153 13%
      <br>Finn Balor 95 8%
      <br>Seth Rollins 44 4%
      <br>John Cena 34 3%
      <br>
      <br>1205 votes
      <br>
      <br>2016 winner: Sami Zayn
      <br>2015 winner: Dean Ambrose
      <br>2014 winner: Dolph Ziggler
      <br>2013 winner: Daniel Bryan
      <br>2012 winner: CM Punk
      <br>2011 winner: CM Punk
      <br>2010 winner: John Cena
      <br>2009 winner: Jeff Hardy
      <br>2008 winner: Jeff Hardy
      <br>2007 winner: Jeff Hardy
      <br>2006 winner: Carlito
      <br>2005 winner: Batista
      <br>2004 winner: Randy Orton
      <br>2003 winner: Eddie Guerrero
      <br>2002 winner: Shawn Michaels
      <br>2001 winner: The Rock
      <br>2000 winner: The Rock
      <br>
      <br>
      <b>Heel Of The Year</b>
      <br>
      <br>
      <u>The Miz 538 44%</u>
      <br>Kevin Owens 300 25%
      <br>Neville 115 9%
      <br>Braun Strowman 93 8%
      <br>Samoa Joe 92 8%
      <br>Jinder Mahal 82 7%
      <br>
      <br>1220 votes
      <br>
      <br>2016 winner: The Miz
      <br>2015 winner: Seth Rollins
      <br>2014 winner: Seth Rollins
      <br>2013 winner: Paul Heyman
      <br>2012 winner: CM Punk
      <br>2011 winner: Mark Henry
      <br>2010 winner: Wade Barrett
      <br>2009 winner: Chris Jericho
      <br>2008 winner: Chris Jericho
      <br>2007 winner: Edge
      <br>2006 winner: Edge
      <br>2005 winner: Kurt Angle
      <br>2004 winner: Triple H
      <br>2003 winner: Triple H
      <br>2002 winner: Brock Lesnar
      <br>2001 winner: Steve Austin
      <br>2000 winner: Triple H
      <br>
      <br>
      <b>Feud Of The Year</b>
      <br>
      <br>
      <u>The Usos vs. The New Day 702 25%</u>
      <br>Braun Strowman vs. Roman Reigns 675 24%
      <br>Kevin Owens vs. Chris Jericho 507 18%
      <br>Kazuchika Okada vs. Kenny Omega 503 18%
      <br>John Cena vs. AJ Styles 287 10%
      <br>Kevin Owens vs. Shane McMahon 137 5%
      <br>
      <br>2811 votes
      <br>
      <br>2016 winner: John Cena vs. AJ Styles
      <br>2015 winner: Undertaker vs. Brock Lesnar
      <br>2014 winner: Daniel Bryan vs. The Authority
      <br>2013 winner: CM Punk vs. Paul Heyman
      <br>2012 winner: CM Punk vs. Chris Jericho
      <br>2011 winner: John Cena vs. CM Punk
      <br>2010 winner: John Cena vs. Nexus
      <br>2009 winner: Jeff Hardy vs. CM Punk
      <br>2008 winner: Shawn Michaels vs. Chris Jericho
      <br>2007 winner: The Undertaker vs. Batista
      <br>2006 winner: John Cena vs. Edge
      <br>2005 winner: Eddie Guerrero vs. Rey Mysterio
      <br>2004 winner: Triple H vs. Chris Benoit vs. Shawn Michaels
      <br>2003 winner: Kurt Angle vs. Brock Lesnar
      <br>2002 winner: Shawn Michaels vs. Triple H
      <br>2001 winner: WWF vs. The Alliance
      <br>2000 winner: The Rock vs. Triple H
      <br>
      <br>
      <b>Worst Superstar Of The Year</b>
      <br>
      <br>
      <u>Roman Reigns 1025 35%</u>
      <br>Jinder Mahal 707 24%
      <br>Enzo Amore 330 11%
      <br>James Ellsworth 304 10%
      <br>Jason Jordan 303 10%
      <br>Curt Hawkins 234 8%
      <br>
      <br>2903 votes
      <br>
      <br>2016 winner: Roman Reigns
      <br>2015 winner: Eva Marie
      <br>2014 winner: Eva Marie
      <br>2013 winner: The Great Khali
      <br>2012 winner: The Great Khali
      <br>2011 winner: The Great Khali
      <br>2010 winner: Lacey Von Erich
      <br>
      <br>
      <b>Worst Match Of The Year</b>
      <br>
      <br>
      <u>Roman Reigns vs. The Undertaker (WrestleMania 33) 1014 34%</u>
      <br>Jinder Mahal vs. Randy Orton Punjabi Prison (Battleground) 719 24%
      <br>Bray Wyatt vs. Randy Orton (WrestleMania 33) 560 19%
      <br>Big Cass vs. Big Show (Summerslam) 434 14%
      <br>Men's RAW vs. Smackdown Elimination Match (Survivor Series) 224 7%
      <br>Brock Lesnar vs. Braun Strowman (No Mercy) 58 2%
      <br>
      <br>3009 votes
      <br>
      <br>2016 winner: Triple H vs. Roman Reigns (Wrestlemania 32)
      <br>2015 winner: Eva Marie vs. Billie Kay (9/2/15 NXT)
      <br>2014 winner: Layla vs. Summer Rae (Money in the Bank)
      <br>2013 winner: Santino Marella and The Great Khali vs 3MB (9/27/13 Smackdown)
      <br>2012 winner: Sheamus vs. Daniel Bryan (Wrestlemania 28)
      <br>2011 winner: Jeff Hardy vs. Sting (Victory Road)
      <br>2010 winner: Bret Hart vs. Vince McMahon (Wrestlemania 26)
      <br>
      <br>
      <b>Worst PPV Of The Year</b>
      <br>
      <br>
      <u>Battleground 534 46%</u>
      <br>Fastlane 230 20%
      <br>Backlash 127 11%
      <br>Wrestlemania 33 105 9%
      <br>Payback 88 8%
      <br>Money in the Bank 67 6%
      <br>
      <br>1151 votes
      <br>
      <br>2016 winner: Wrestlemania 32
      <br>2015 winner: Survivor Series
      <br>2014 winner: Battleground
      <br>2013 winner: Battleground
      <br>2012 winner: Victory Road
      <br>2011 winner: Victory Road
      <br>2010 winner: Hardcore Justice
      <br>
      <br>
      <b>Worst Storyline Of The Year</b>
      <br>
      <br>
      <u>Jason Jordan is Kurt Angle's son 510 39%</u>
      <br>Jinder Mahal as WWE Champion 265 20%
      <br>"Sister Abigail" vs. "The Demon" 184 14%
      <br>Jinder Mahal mocking Shinsuke Nakamura 148 11%
      <br>The Bray Wyatt and Randy Orton mind games 107 8%
      <br>Alexa Bliss vs. Bayley 96 7%
      <br>
      <br>1310 votes
      <br>
      <br>2016 winner: Make Darren Young great again
      <br>2015 winner: Rusev and Lana breakup
      <br>2014 winner: The Bella Twins split
      <br>2013 winner: Tito Ortiz and Rampage Jackson feuding in TNA
      <br>2012 winner: The AJ Styles scandal
      <br>2011 winner: The anonymous RAW GM
      <br>2010 winner: Abyss and the Hall of Fame ring
      <br>
      <br>
      <b>Most Overutilized of the Year</b>
      <br>
      <br>
      <u>Roman Reigns 714 43%</u>
      <br>Jinder Mahal 424 26%
      <br>Shane McMahon 269 16%
      <br>Enzo Amore 132 8%
      <br>Randy Orton 76 5%
      <br>Brock Lesnar 35 2%
      <br>
      <br>1650 votes
      <br>
      <br>2016 winner: Roman Reigns
      <br>2015 winner: Kane
      <br>2014 winner: John Cena
      <br>
      <br>
      <b>Most Underutilized of the Year</b>
      <br>
      <br>
      <u>Rusev 658 35%</u>
      <br>Finn Balor 621 33%
      <br>Luke Harper 277 15%
      <br>Cesaro 112 6%
      <br>Sami Zayn 106 6%
      <br>Neville 105 6%
      <br>
      <br>1879 votes
      <br>
      <br>2016 winner: Cesaro
      <br>2015 winner: Cesaro
      <br>2014 winner: Cesaro
    </div>
  </div>

  <app-discussion></app-discussion>

</div>