<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Staff Dashboard</h1>
            <p class="lead">This section will only be available to NoDQ staff.</p>
        </div>
    </div>
</div>

<a routerLink="/create-article" class="btn btn-outline-primary mr-1">Post Article</a>
<a routerLink="/manage-article" class="btn btn-outline-danger mr-1">Manage Articles</a>
<a routerLink="/create-user" class="btn btn-outline-success mr-1">Create User</a>
<a routerLink="/manage-user" class="btn btn-outline-info mr-1">Manage Users</a>

<p class="mt-5">This page will contain website stats, article stats, disqus stats, etc. or anything else related to the management of the
    website.
</p>

<div class="card border-secondary mb-3">
    <div class="card-header">Permissions</div>
    <div class="card-body">

        <table class="table table-hover">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Type</th>
                    <th scope="col">Read Articles</th>
                    <th scope="col">Create Articles</th>
                    <th scope="col">Delete Articles</th>
                    <th scope="col">Edit Articles</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-light">
                    <th scope="row">Admin</th>
                    <td>
                        <i class="far fa-check-circle"></i>
                    </td>
                    <td>
                        <i class="far fa-check-circle"></i>
                    </td>
                    <td>
                        <i class="far fa-check-circle"></i>
                    </td>
                    <td>
                        <i class="far fa-check-circle"></i>
                    </td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Moderator</th>
                    <td>
                        <i class="far fa-check-circle"></i>
                    </td>
                    <td>
                        <i class="far fa-check-circle"></i>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <i class="far fa-check-circle"></i>
                    </td>
                </tr>
                <tr class="table-light">
                    <th scope="row">User</th>
                    <td>
                        <i class="far fa-check-circle"></i>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>