<div class="card mt-4">
  <div class="card-header text-white">
    <i class="far fa-star mr-1"></i>
    Popular
  </div>
  <div class="card-body nodq-card">

    <div class="card-title text-white">Most Discussed</div>

    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            <span class="text-white">NoDQ.com - Ellsworth moved by fan; All in Tickets</span>
            <cite title="Source Title">
              <p class="text-white">16 minutes ago</p>
            </cite>
          </footer>
        </blockquote>
      </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            <span class="text-white">NoDQ.com - Y2J's creative control in NJPW; Black on joining WWE</span>
            <cite title="Source Title">
              <p class="text-white">0 minutes ago</p>
            </cite>
          </footer>
        </blockquote>
      </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            <span class="text-white">NoDQ.com - Y2J's creative control in NJPW; Black on joining WWE</span>
            <cite title="Source Title">
              <p class="text-white">16 minutes ago</p>
            </cite>
          </footer>
        </blockquote>
      </a>

    </div>



  </div>
</div>