<div class="card text-white mt-4">
  <div class="card-header d-flex align-items-baseline justify-content-between">
    <div>
      <i class="fas fa-users mr-1"></i>
      People
    </div>
    <i ngbTooltip="Refresh" placement="left" class="fas fa-sync-alt refresh-button"></i>
  </div>
  <div class="card-body nodq-card">
    <div class="card-title">Top Commenters</div>

    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 text-white">NoDQ.com</h5>
          <img style="max-width:50px; max-height:50px;" src="https://c.disquscdn.com/uploads/users/6187/4581/avatar92.jpg?1492914904"
            alt="">
        </div>
        <blockquote class="blockquote">
          <footer class="blockquote-footer text-white">
            2446 Posts
          </footer>
        </blockquote>
      </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 text-white">Derek W. Ruttle</h5>
          <img style="max-width:50px; max-height:50px;" src="https://c.disquscdn.com/uploads/users/25359/9804/avatar92.jpg?1525465317"
            alt="">
        </div>
        <blockquote class="blockquote">
          <footer class="blockquote-footer text-white">
            2446 Posts
          </footer>
        </blockquote>
      </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 text-white">Peter Millano Whosoever</h5>
          <img style="max-width:50px; max-height:50px;" src="https://c.disquscdn.com/uploads/users/5354/5776/avatar92.jpg?1525465675"
            alt="">
        </div>
        <blockquote class="blockquote">
          <footer class="blockquote-footer text-white">
            2446 Posts
          </footer>
        </blockquote>
      </a>
    </div>


  </div>
</div>