<div class="card mt-4">
  <div class="card-header text-white d-flex align-items-baseline justify-content-between">
    <div>
      <i class="fas fa-history mr-1"></i>
      Recent
    </div>
    <i ngbTooltip="Refresh" placement="left" class="fas fa-sync-alt refresh-button"></i>
  </div>
  <div class="card-body nodq-card">
    <h5 class="card-title text-white">Recent Comments</h5>

    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 text-white">Robert Hodges</h5>
          <img style="max-width:50px; max-height:50px;" src="https://c.disquscdn.com/uploads/users/5284/4466/avatar92.jpg?1525541128"
            alt="">
        </div>
        <blockquote class="blockquote text-white">
          <span> This little girl makes me think maybe some of us have been to hard on ellsworth. it's good for a character to show
            anyone can receive oppertunities. and that's what smackdown live has been trying...</span>
          <footer class="blockquote-footer text-white">
            <span>NoDQ.com - Ellsworth moved by fan; All in Tickets</span>
            <cite title="Source Title">
              <p>16 minutes ago</p>
            </cite>
          </footer>
        </blockquote>
      </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 text-white">Omega Beam</h5>
          <img style="max-width:50px; max-height:50px;" src="https://c.disquscdn.com/uploads/forums/425/2568/avatar92.jpg?1491712810"
            alt="">
        </div>
        <blockquote class="blockquote text-white">
          <span>Future cruiserweight champion</span>
          <footer class="blockquote-footer text-white">
            <span>NoDQ.com - Y2J's creative control in NJPW; Black on joining WWE</span>
            <cite title="Source Title">
              <p>0 minutes ago</p>
            </cite>
          </footer>
        </blockquote>
      </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 text-white">Robert Hodges</h5>
          <img style="max-width:50px; max-height:50px;" src="https://c.disquscdn.com/uploads/users/5284/4466/avatar92.jpg?1525541128"
            alt="">
        </div>
        <blockquote class="blockquote text-white">
          <span>Thanks meltzer for once again , a non-explination. we can see from the article post that new japan let's jericho
            do what he wants. but again maybe new japan could also be changing their policy. you...</span>
          <footer class="blockquote-footer text-white">
            <span>NoDQ.com - Y2J's creative control in NJPW; Black on joining WWE</span>
            <cite title="Source Title">
              <p>16 minutes ago</p>
            </cite>
          </footer>
        </blockquote>
      </a>

    </div>

  </div>
</div>