<div class="card mt-4">
  <div class="card-header text-white  d-flex align-items-baseline justify-content-between">
    <div>
      <i class="fab fa-twitter mr-1"></i>
      NoDQ Twitter Feed
    </div>
    <span>Live
      <span class="text-danger">&bull;</span>
    </span>
  </div>

  <div class="card-body nodq-card">
    <ngx-twitter-timeline [data]="{sourceType: 'profile', url: 'https://twitter.com/nodqdotcom', screenName: 'nodqdotcom'}" [opts]="{tweetLimit: 15}"></ngx-twitter-timeline>
  </div>
</div>